body{
    background-image: url("backg.jpg");

}

/* we have to center our wrap  */
#wrap{
    position: absolute;
    height: 200px;
    width: 400px;
    margin: -100px 0 0 -200px;
    top: 50%;
    left: 50%;
    font-size:35px;
    font-family:"Arial Black", Gadget, sans-serif;
    color:#00184c;
}
/* making all thing looking nice (h1,input,button,p) */
h1{
  text-align: center;
  font-size: 80px;
  color:#d30404;
}


input{
    font-size:20px;
    font-family:"Arial Black", Gadget, sans-serif;
    color:#007c7a;

}
button{
    font-size:25px;
    font-family:"Arial Black", Gadget, sans-serif;
    color:#007c7a;
}

p{
    color:#f29500;
}
